* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #948e99, #2e1437);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
  color: #fafaf9;
  padding: 48px 64px;
  font-family: "DM Sans", sans-serif;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden {
  display: none !important;
}

/* MAIN LAYOUT */
.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #2e2b29;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: 0px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 24px;

  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);

  border: 2px solid rgba(255, 255, 255, 0.2);
}

.fact p {
  align-self: flex-start;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 0.7px;
  color: #000;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.212);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  background-color: #fff;
  border-radius: 50px;
  padding: 3px 6px;
  color: #3b82f6;
}

.btn {
  border: none;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  background-color: rgba(0, 0, 0, 0);

  border: 2px solid rgba(255, 255, 255, 0.2);

  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(110%);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
}

/* FORM */
.fact-form {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  background-color: rgba(0, 0, 0, 0.237);
  border: 2px solid rgba(255, 255, 255, 0.2);

  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: rgba(0, 0, 0, 0.237);

  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input:focus {
  transition: 0.1s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.278);
  outline-color: transparent;
  outline: none;
}

.fact-form input::placeholder {
  color: #a8a29e;
  padding-left: 3px;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 901px) {
  .facts-main {
    margin-bottom: 30px;
  }
}

@media (max-width: 570px) {
  .logo h1 {
    font-size: 30px;
  }

  .btn-large {
    font-size: 16px;
    padding: 15px 20px 15px;
  }
}

@media (max-width: 450px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  body {
    padding: 32px 20px;
  }
}
